Application.Core/Web References/altirisws/dsjob_fromurl.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ScheduleNow">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ComputerName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="JobName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ScheduleNowResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ScheduleNowResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ScheduleNowSoapIn">
    <wsdl:part name="parameters" element="tns:ScheduleNow" />
  </wsdl:message>
  <wsdl:message name="ScheduleNowSoapOut">
    <wsdl:part name="parameters" element="tns:ScheduleNowResponse" />
  </wsdl:message>
  <wsdl:message name="ScheduleNowHttpGetIn">
    <wsdl:part name="ComputerName" type="s:string" />
    <wsdl:part name="JobName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ScheduleNowHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ScheduleNowHttpPostIn">
    <wsdl:part name="ComputerName" type="s:string" />
    <wsdl:part name="JobName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ScheduleNowHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="dsjobSoap">
    <wsdl:operation name="ScheduleNow">
      <wsdl:input message="tns:ScheduleNowSoapIn" />
      <wsdl:output message="tns:ScheduleNowSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="dsjobHttpGet">
    <wsdl:operation name="ScheduleNow">
      <wsdl:input message="tns:ScheduleNowHttpGetIn" />
      <wsdl:output message="tns:ScheduleNowHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="dsjobHttpPost">
    <wsdl:operation name="ScheduleNow">
      <wsdl:input message="tns:ScheduleNowHttpPostIn" />
      <wsdl:output message="tns:ScheduleNowHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="dsjobSoap" type="tns:dsjobSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ScheduleNow">
      <soap:operation soapAction="http://tempuri.org/ScheduleNow" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="dsjobHttpGet" type="tns:dsjobHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="ScheduleNow">
      <http:operation location="/ScheduleNow" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="dsjobHttpPost" type="tns:dsjobHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="ScheduleNow">
      <http:operation location="/ScheduleNow" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="dsjob">
    <wsdl:port name="dsjobSoap" binding="tns:dsjobSoap">
      <soap:address location="http://ohcleutl4035/dsjob/dsjob_fromurl.asmx" />
    </wsdl:port>
    <wsdl:port name="dsjobHttpGet" binding="tns:dsjobHttpGet">
      <http:address location="http://ohcleutl4035/dsjob/dsjob_fromurl.asmx" />
    </wsdl:port>
    <wsdl:port name="dsjobHttpPost" binding="tns:dsjobHttpPost">
      <http:address location="http://ohcleutl4035/dsjob/dsjob_fromurl.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>